<div class="crearimagen">
<h1><%= name%> imagen</h1>
<br>
<%= form_for(@image) do |f|%>
	<% @image.errors.full_messages.each do |message|%>
		*<%= message %>
	<%end%>
	<div class="field ">
		<%= f.text_field :nombre, placeholder: "Nombre", autofocus: true, class:"campocrear" %>
	</div>
	<div class="field ">
		<%= f.text_field :ubicacion, placeholder: "Ubicacion", autofocus: true, class:"campocrear"%> 
	</div>
	<div class="field ">	
		<%= f.text_field :fecha, placeholder: "Fecha", autofocus: true, class:"campocrear"%> 
	</div>	
	<div class="field ">
		<%= f.text_field :autor, placeholder: "Autor", autofocus: true, class:"campocrear"%> 
	</div>	
	<div class="field">
		<%= f.text_field :peso, placeholder: "Compartir (Escriba si o no)", autofocus: true, class:"campocrear"%>
	</div>
	<br> 
	<%= f.submit "Guardar", class:"botonguardar"%>
<%end%>
</div>